.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 43px;
    height: 43pxem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70% 70%;
    background-color: rgba(42, 42, 42, 0.15);;
}