.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      width: 33%;
      min-height: 167px;
    }

    @include mobile {
      width: 100%;
      min-height: 247px;
      margin: 32px 0 0 0;
    }
  }
  
  .sales__item-woman {
    background-image: url(../img/sale-w.png);
    background-color: #4b4341;
  }
  
  .sales__item-man {
    background-image: url(../img/sale-m.png);
    background-color: #4b4341;
  }
  
  .sales__item-kids {
    background-image: url(../img/sale-k.png);
    background-color: #4b4341;
  }
  
  .sales__item-shoes {
    background-image: url(../img/sale-accesories.png);
    background-color: #4b4341;
    width: 100%;
    margin: 30px 0 97px;
  }
  
  .sales__item-text {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .sales__item-title {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }